<app-main-menu></app-main-menu>
<div class="jumbotron jumbotron-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-8">
      <ng-container *ngIf="!ordID || !formSent; else orderFinished">
          <ng-container *ngIf="products_cart && products_cart.length > 0; else noProducts">
              <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-7 col-xl-6 page-title">
                  <div class="col-12 display-1">SZCZEGÓŁY</div>
                </div>
                </div>
              <div class="row justify-content-center">
                <hr class="pur-line">
              </div>

            <form #myForm="ngForm" [formGroup]="orderForm" name="myForm" autocomplete="off">
              <div class="row justify-content-center">
                <div class="form-group col-12 col-md-8 col-lg-6 col-xl-5 order-row">
                  <h3>Odbiorca</h3>
                  <label for="inputClientName">Imię i nazwisko</label>
                  <input type="text" class="form-control input-lg" formControlName="inputClientName"
                    [ngClass]="{'input-correct': isNameCorrect(), 'input-incorrect': !isNameValid(), 'input-correct': isAutomated}"
                    name="order_client_name" id="inputClientName" placeholder="np. Jan Kowalski" required>
                  <span [hidden]="isNameValid()">*podaj poprawne dane</span>
                </div>
              </div>

              <div class="row justify-content-center">
                <div class="form-group col-12 col-md-8 col-lg-6 col-xl-5 order-row">
                  <h3>Dostawa</h3>
                  <label for="inputClientAddress">Adres dostawy</label>
                  <input type="text" class="form-control input-lg" formControlName="inputClientAddress"
                  [ngClass]="{'input-correct': isAddressCorrect(), 'input-incorrect': !isAddressValid(), 'input-correct': isAutomated}"
                  name="order_client_address" id="inputClientAddress" placeholder="np. Kraków, ul. Sezamkowa 15a" required>
                  <span [hidden]="isAddressValid()">*podaj poprawny adres</span>
                </div>
              </div>
              <br/><br/>
              <div class="row justify-content-center">
                <div class="form-group col-12 col-md-6 col-lg-4 col-xl-3 order-row">
                  <button type="button" class="btn btn-lg btn-warning col-12" (click)="saveOrder()" [disabled]="(!isNameCorrect() || !isAddressCorrect()) && !isAutomated">
                      zamów
                  </button>
                </div>
              </div>
            </form>
          </ng-container>
          <ng-template #noProducts>
              <h3 class="mb-4 display-3 text-start">Aktualnie koszyk jest pusty! <br/>Wybierz coś z listy produktów! :)</h3>
                <br/>
              <button type="button" class="btn btn-lg btn-warning" (click)="routeToProducts()">lista produktów</button>
          </ng-template>
        </ng-container>
        <ng-template #orderFinished>
              <h3 class="mb-4 display-4 text-start">Zamówienie zostało złożone poprawnie!</h3><br/><h4>Identryfikator zamwówienia: {{ordID}} </h4><br/>Może kupisz coś jeszcze?:)<br/>
              <button type="button" (click)="routeToProducts()">lista produktów</button>
        </ng-template>
      </div>
  </div>
</div>
