.input-correct {
    background: lightgreen;
    color: black;
}

.input-incorrect {
    background: salmon;
    color: white;
}

.jumbotron-fluid{
  min-height: 100vh;
  background: none;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-width: 500px;
}

.pur-line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid black;
  margin: 1em 0;
  padding: 0;
  width: 20%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.page-title {
  width: 100%;
  text-align: center;
  font-size: larger;
}
