<div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-8">
        <div class="row justify-content-around">
          <div class="col-12 col-lg-12 col-xl-12">
              <h3 class="mb-4 display-2 text-center">SZCZEGÓŁY ZAMÓWIENIA</h3>
              <div class="row justify-content-center">
                <hr class="cart-line text-center">
              </div>

              <span><b>Odbiorca:</b> {{order.client_name}}</span><br/>
              <span><b>Adres:</b> {{order.client_address}}</span><br/>
              <span><b>Kwota zamówienia:</b> {{order.order_value.toFixed(2)}} zł</span><br/>
              <span><b>Status:</b> {{order.status}}</span><br/>
              <span><b>Lista produktów:</b></span>
          </div>
        </div>
        <div class="col-12">
            <div class="row justify-content-end">
                <button type="button" class="btn btn-primary col-1 ord-select-list" (click)="selectAll()" [hidden]="!editStatus" [disabled]="(order.products_collected.length === order.ordered_products.length)" >wszystkie</button>
                <button type="button" class="btn btn-primary col-1 ord-select-list" (click)="clearAll()" [hidden]="!editStatus" [disabled]="(order.products_collected.length === 0)" >reset</button>
            </div>
        </div>
<ng-container *ngIf="editStatus; else showList">
  <div class="row">
    <div class="col-12" *ngFor="let product of order.ordered_products">
        <div class="row">
          <span class="col-9">{{ product.product.name }}</span>

          <div class="col-3 justify-content-end edit-completion-list">
              <button type="button" class="btn btn-lg glyphicon completed pull-right" (click)=changeCollected(product.product._id)>
                <span class="glyphicon" [ngClass]="{'glyphicon-unchecked': !isCollected(product.product._id), 'glyphicon-check': isCollected(product.product._id)}">
                    <ng-container *ngIf="!isCollected(product.product._id); else collected"></ng-container>
                    <ng-template #collected></ng-template>
                </span>
              </button>
          </div>
        </div>
      </div>
  </div>
</ng-container>
<ng-template #showList>
    <div class="row">
        <div class="col-12" *ngFor="let product of order.ordered_products">
            <div class="row">
              <span class="col-9">{{product.product.name}}</span>
              <span class="glyphicon col-3 pull-right" [ngClass]="{'glyphicon-unchecked': !isCollected(product.product._id), 'glyphicon-check': isCollected(product.product._id)}">
                <ng-container *ngIf="!isCollected(product.product._id); else collected"></ng-container>
                <ng-template #collected></ng-template>
              </span>
            </div>
        </div>
    </div>
</ng-template>
<br/>
<div class="row">
    <button type="button" class="btn btn-lg btn-warning col-4" (click)="startCompleting()" [disabled]="!isWaiting()" id="start">Rozpocznij realizację</button>
    <button type="button" class="btn btn-lg btn-warning col-4" (click)="enableEdit()" [hidden]="editStatus" [disabled]="!isCompleting()" id="in-work">Aktualizuj stan</button>
    <button type="button" class="btn btn-lg btn-warning col-4 done" (click)="saveOrderState()" [hidden]="!editStatus" [disabled]="!isCompleting()">Zapisz</button>
    <button type="button" class="btn btn-lg btn-warning col-4 done" (click)="finishOrder()" [disabled]="!isFinished()" >Wyślij</button>
</div>
