.not-completed {
  color: red;
}

.completed {
  color: green;
}

.glyphicon-unchecked {
  color: red;
}

.cart-line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid black;
  margin: 1em 0;
  padding: 0;
  width: 40%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.edit-completion-list button {
  background: none;
}

#in-work {
  border-radius: 0px;
  color: white;
}

#start {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  color: white;
}

.done {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  color: white;
}

.ord-select-list {
  margin-right: 10px;
  min-width: 90px;
}
