<app-main-menu></app-main-menu>
<div class="row justify-content-center app-login-box ">
  <div class="col-12 col-sm-8 col-md-6 col-xl-4">
    <h1 class="text-center">Logowanie</h1>
    <hr class="title_line">
    <div class="row justify-content-center">
        <div class="form-group col-12 col-lg-10">
      <label for="loginMail"><h3>Email:</h3> </label>
      <input type="email" [(ngModel)]="loginMail" placeholder="jan.kowalski@domena.com" id="loginMail" class="form-control input-lg">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="form-group col-12 col-lg-10">
          <label for="loginPasswd"><h3>Hasło:</h3> </label>
          <input type="password" [(ngModel)]="loginPassword" placeholder="admin123" id="loginPasswd" class="form-control input-lg">
      </div>
    </div>
    <br /><br />
    <div class="form-group row justify-content-center">
        <button type="button" (click)="logUser()" [disabled]="loginPassword.length === 0 || loginMail.length === 0" class="btn btn-lg btn-warning col-8 col-sm-6 pull-center">Zaloguj</button>

    </div>

  </div>
</div>

