.body-bg {
  position: fixed;
  left: 0;
  right: 0;
  top: -1%;
  z-index: -1;

  background-image: url("../../assets/images/background.jpg");
  height: 100vh;
  /* height: 100vh; */

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.body-bg-wrapper {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
}

.page-logo {
  height: 100%;
  border-bottom: 3px solid #ffc107;
  padding-bottom: -50%;
}

.page-logo h1 {
  font-weight: 900;
  color: white;
  /* text-decoration: underline; */
  /* font-size: 2em; */
  /* background: red; */
  text-align: center;
}

.title-red {
  color: #ffc107;
}

.menu-bar {
  border-radius: 0px;
  background-color: rgba(0,0,0, 0.8);
}

.nav-item {
  border-bottom: solid 2px transparent;
}

.nav-item:hover {
  border-bottom: solid 2px #ffc107;
}

.nav-item a{
  color: #eee;
}

.nav-item a:hover {
  color: #fff;
  background: #ffc107;
}

@media (min-width: 767px) {
  .right-menu-option {
      float: right;
  }

  .right-menu-option li {
    margin-right: 20px;
    border: solid 1px transparent;
  }

  .nav-button {
    border: solid 1px transparent;
    background: #ffc107;
    margin-right: 0px;
    border-radius: 5px;
    display: inline-block;
    height: 80%;
    min-width: 90px;
    text-align: center;
    font-weight: 600;
  }
}

