<nav class="navbar navbar-dark navbar-expand-md fixed-top menu-bar">
  <!-- <a href="#" class="navbar-brand">
    <img src="/assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    ZPW
  </a>navbar-brand -->
  <a routerLink="/" class="navbar-brand page-logo navbar-toggler-left ">
      Eat.<span class="title-red">IT</span>
  </a>
  <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
      </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav" id="navScrollspy">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Strona główna</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/">O nas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products">Oferta</a>
      </li>
      <ng-container *ngIf="logged && (acc_type > 1);">
        <li class="nav-item">
          <a class="nav-link" routerLink="/manage_orders">Edytuj zamówienia</a>
        </li>
      </ng-container>
      <ng-container *ngIf="logged && (acc_type > 3);">
        <li class="nav-item">
          <a class="nav-link" routerLink="/manage_products">Edytuj produkty</a>
        </li>
      </ng-container>
    </ul>
    <ul class="navbar-nav right-menu-option" id="navScrollspy2">
      <li class="nav-item">
        <a class="nav-link" routerLink="/show_cart">Koszyk ({{in_cart}})</a>
      </li>
      <ng-container *ngIf="!logged; else userLogged">
        <li class="nav-item">
            <a class="nav-link" routerLink="/register">Rejestracja</a>
          </li>
          <li class="nav-item nav-button">
              <a class="nav-link" routerLink="/login">Logowanie</a>
          </li>
      </ng-container>
      <ng-template #userLogged>
          <li class="nav-item nav-button">
              <a class="nav-link" routerLink="/logout">Wyloguj</a>
          </li>
      </ng-template>
    </ul>
  </div>
</nav>
<div class="body-bg">
  <div class="body-bg-wrapper"></div>
</div>
