<app-main-menu></app-main-menu>
<div class="jumbotron jumbotron-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8">
          <ng-container *ngIf="products_cart && products_cart.length > 0; else noProducts">
            <div class="row justify-content-around">
              <div class="col-12 col-lg-8 col-xl-8">
                  <h3 class="mb-4 display-2 text-start">Koszyk</h3>
              </div>
            </div>

            <div class="row justify-content-around">
                <div class="col-12 col-lg-8 col-xl-8">
                    <ul class="col-10 cart-list">
                        <li *ngFor="let product of products_cart" >
                          <div class="row">
                            <span class="col-11">{{product.qty}} x {{product.product.name}}</span>
                            <div class="col-1">
                                <button type="button" (click)="deleteFromCart(product)" class="btn btn-sm btn-danger">usuń</button>
                            </div>
                          </div>
                        </li>
                      </ul>
                </div>
              </div>

              <div class="row justify-content-around">
                  <div class="col-12 col-lg-8 col-xl-8">
                      <hr class="cart-line">
                      <p>
                          <b>Produktów sumarycznie:</b> {{products_qty}}
                      </p>
                      <p>
                          <b>Łączna wartość:</b> {{sum_price.toFixed(2)}} zł
                      </p>
                  </div>
              </div>
              <br/>
              <div class="row justify-content-around">
                <div class="col-12 col-lg-8 col-xl-8">
                    <div class="row justify-content-start">
                        <div class="col-8 lg-6">
                          <div class="row justify-content-between">
                            <button type="button" class="btn btn-lg btn-warning col-5 cart-button" (click)="routeToProducts()">wróć do zakupów</button>
                            <button type="button" class="btn btn-lg btn-warning col-5 cart-button" (click)="routeToPurchase()">do kasy</button>
                          </div>
                        </div>
                    </div>
                </div>
              </div>




        </ng-container>
        <ng-template #noProducts>
            <h3 class="mb-4 display-3 text-start">Aktualnie koszyk jest pusty! <br/>Wybierz coś z listy produktów!:)</h3>
            <br/>
            <button type="button" class="btn btn-lg btn-warning" (click)="routeToProducts()">lista produktów</button>
        </ng-template>
        </div>
    </div>

</div>
