.jumbotron-fluid{
    min-height: 100vh;
    height: auto;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background: none;
  }

  .cart-list {
    list-style: none;
    /* background: black; */
  }

  .cart-line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
    width: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.cart-button {
  margin-right: 20px;
}

