<div class="row justify-content-center" id="new_product">
    <div class="col-12 page-title">
      <div class="col-12 display-1">NOWY PRODUKT</div>
    </div>
    </div>
  <div class="row justify-content-center">
    <hr class="pur-line">
</div>
<form #myForm="ngForm" name="addProductForm" autocomplete="off">
    <div class="form-group">
        <label for="inputName">Name</label>
        <input type="text" class="form-control input-lg" [(ngModel)]="inputName" name="product_name" id="inputName" placeholder="product name" required>
    </div>
    <div class="form-group">
        <label for="inputCategory">Category</label>
        <select class="col-12 form-control input-lg" [(ngModel)]="inputCategory" name="product_category" id="inputCategory">
            <option *ngFor="let category of categories" [value]="category">{{category}}</option>
        </select>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputPrice">Price</label>
        <input type="number" class="form-control input-lg" [(ngModel)]="inputPrice" name="product_price" id="inputPrice" placeholder="19.99" required>
      </div>
      <div class="form-group col-md-6">
        <label for="inputAmount">Amount</label>
        <input type="number" class="form-control input-lg" [(ngModel)]="inputAmount" name="product_amount" id="inputAmount" placeholder="1" required>
      </div>
    </div>

    <div class="form-group">
      <label for="inputDescription">Description</label>
      <input type="textArea" class="form-control input-lg" [(ngModel)]="inputDescription" name="product_description" id="inputDescription" placeholder="product description">
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputImageURL">Image url</label>
        <input type="text" class="form-control input-lg" [(ngModel)]="inputImageURL" name="product_img_url" id="inputImageURL" placeholder="image adress" value="/assets/images/kaczka.jpg" required>
      </div>
    </div>
    <br/>
    <div class="row justify-content-center">
    <button type="button" class="btn btn-lg btn-warning col-4" (click)="addProduct(myForm)">dodaj</button>
    </div>
  </form>
