.pur-line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
    width: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .page-title {
    width: 100%;
    text-align: center;
    font-size: larger;
  }