
<div class="contener">
  <div class="bg-img body-container">
    <div class="bg-wrapper"></div>
  </div>
  <div class="row justify-content-center">
    <div class="bg-top-menu col-12 ">
      <div class="row h-100" >

        <div class="col-3 hidden-xs col-md-1"></div>
        <div class="col-6 col-sm-3 col-md-2 pull-left page-logo ">
            <h1>Eat.<span class="title-red">IT</span></h1>
        </div>
        <div class="col-12 col-sm-9 col-md-9 align-self-center justify-content-end" id="navbarNav">
            <ng-container *ngIf="!logged; else userLogged">
              <button type="button" class="btn btn-lg btn-warning col-12 col-sm-3 col-md-2 col-xl-1 pull-right menu-buttons" routerLink="/login">Zaloguj</button>
              <button type="button" class="btn btn-lg btn-warning col-12 col-sm-3 col-md-2 col-xl-1 pull-right menu-buttons" routerLink="/register">Zarejestruj</button>
            </ng-container>
            <ng-template #userLogged>
              <button type="button" class="btn btn-lg btn-warning col-12 col-sm-3 col-md-2 col-xl-1 pull-right menu-buttons" (click)="logout()">Wyloguj</button>
              <button type="button" class="btn btn-lg btn-warning col-12 col-sm-3 col-md-2 col-xl-1 pull-right menu-buttons" (click)="to_cart()">Koszyk ({{products_in_cart}})</button>
            </ng-template>

        </div>
      </div>

    </div>
    <div class="bg-center-text col-xl-6">
      <h2>Dla nas najważniejszy jest klient</h2>
      <hr class="title_line">
      <h1>Eat.<span class="title-red">IT</span><br/> Sprawdź nas!</h1>

      <br /><br />
      <button type="button" class="btn btn-lg btn-warning col-6" routerLink="/products">Oferta</button>
    </div>
  </div>
</div>

