.jumbotron {
  height: 100vh;
  margin: 0px;
}

.jumbotron-fluid {
  background: none;
}

.contener {
  min-height: 100vh;
}

.bg-center-text {
  /* background-color: rgb(255,255,255);  */
  /* background-color: rgba(255, 255, 255, 0.747); */
  /* background-color: rgba(252, 96, 96, 0.8); */
  font-weight: bold;
  /* border: 2px solid gray; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  z-index: 2;
  padding: 20px;
  text-align: center;
  border-radius: 25px;
}

.bg-center-text h1 {
  font-size: 6em;
  color: #eee;
  text-transform: uppercase;
  font-weight: 600;
  text-shadow: 0px 2px rgb(77, 77, 77);
}

.title_line {
  width: 35%;
  margin-top: 6%;
  margin-bottom: 5%;
}

.bg-center-text h2 {
  font-size: 3em;
  color: #eee;
  font-family: cursive;
  font-style: italic;
  font-weight: 300;
  text-shadow: 0px 2px rgb(77, 77, 77);
}

.bg-center-text button {
  font-size: 3em;
  margin-bottom: 4%;
  margin-top: 5%;
  border-radius: 15px;
  /* background: #ffc107; */
}

.bg-img {
  background-image: url("../../assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
  top: 0px;
  -webkit-filter: blur(5px);
  filter: blur(0px);
  border: 0;
  min-height: 100vh;
}

.bg-wrapper {
  background: rgb(0, 0, 0, 0.6);
  height: 100vh;
  margin: 0;
  padding: 0;
}

.top-menu {
  position: fixed;
  top: 0;
}


.bg-top-menu {
  /* background-color: rgb(255,255,255); */
  /* background-color: rgba(255,255,255, 0.75);  */
  background-color: rgba(0,0,0, 0.7);
  /* background: none; */
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 2;
  height: 12%;
  text-align: center;
}


.title-red {
  color: #ffc107;
}

.menu-buttons {
  /* border-color: #e7e7e7; */
  margin-right: 1.5%;
  min-width: 170px;
  font-size: 1.8em;
  border: 2px solid #ffc107;
  color: white;
  background: none;

}

.menu-buttons:hover {
  background: #ffc107;
  color: #eee;
}

.page-logo {
  height: 100%;
  border-bottom: 10px solid #ffc107;
  padding-bottom: -50%;
}

.page-logo h1 {
  font-weight: 900;
  color: white;
  /* text-decoration: underline; */
  font-size: 4em;
  /* background: red; */
  text-align: center;
}


@media screen and ( max-width: 575px )
{
 .menu-buttons{
    margin-top: 20px;
    z-index: 999;
  }

  .bg-center-text h1 {
    visibility: hidden;
  }

  .bg-center-text h2 {
    padding-top: 60%;
  }

  /* .buttons {
      left: 2.3%;
      margin-left: 1%;
      width: 95%;
  } */

  .bg-center-text button {
    font-size: 3em;
    margin-bottom: 4%;
    margin-top: -65%;
    border-radius: 15px;
    /* background: #ffc107; */
  }

  /* .title_line {
    width: 35%;
    margin-top: 26%;
    margin-bottom: -5%;
  } */
}

@media screen and ( max-height: 600 )
{
  .bg-top-menu {
    min-height: 300px;
  }

}
