<div class="contener">
  <div class="row no-gutters">
      <div class="col-md-5 col-xl-4">
        <div class="row h-80">
          <div class="col-12 img_wrapper ">
              <img [src]="product.url" alt="zdjecie" class="product_image_min">
          </div>
        </div>
        <div class="row align-items-end h-100">
          <div class="col-12 buttons">
                <div [hidden]="editMode">
                  <button type="button" class="btn btn-primary btn-lg btn-danger prod-button-remove col-6" (click)="removeProduct(product)">Usuń</button>
                  <button type="button" class="btn btn-primary btn-lg btn-warning prod-button-remove col-6" (click)="editProduct(product)">Edytuj</button>
                </div>
                <div [hidden]="!editMode">
                  <button type="button" class="btn btn-primary btn-lg btn-primary prod-button-remove col-6" (click)="editProduct(product)">Anuluj</button>
                  <button type="button" class="btn btn-primary btn-lg btn-success prod-button-remove col-6" (click)="updateProduct()">Zapisz</button>
                </div>
          </div>
        </div>
      </div>

      <div class="col-md-7 col-xl-8">
        <div class="row info-line">
          <div class="col-3 text-right cell-def">Nazwa</div>
          <div class="col-9 text-left cell-val">
            <div class="row">
              <input type="text"  [(ngModel)]="editName" class="form-control input-lg" [disabled]="!editMode"/>
            </div>
          </div>
        </div>
        <div class="row info-line">
            <div class="col-3 text-right cell-def">Kategoria</div>
            <div class="col-9 text-left cell-val">
              <div class="row">
                <select [(ngModel)]="editCategory" name="product_category" [disabled]="!editMode"  class="form-control input-lg">
                  <option *ngFor="let category of categories" [value]="category">{{category}}</option>
                </select>
              </div>
            </div>
        </div>
        <div class="row info-line">
            <div class="col-3 text-right cell-def">Cena</div>
            <div class="col-9 text-left cell-val">
              <div class="row">
                <input type="number" [disabled]="!editMode" [(ngModel)]="editPrice" class="form-control input-lg"/>
              </div>
            </div>
        </div>
        <div class="row info-line">
            <div class="col-3 text-right cell-def">Ilość</div>
            <div class="col-9 text-left cell-val">
              <div>
                  <div class="row">
                    <button type="buton" class="col-2 btn  btn-lg prod-button default" (click)="decrementProductQty()" id="left-inc" [disabled]="(this.editQty < 1) || !editMode">–</button>
                    <input type="number" [(ngModel)]="this.editQty" (keyup)="boundaryCheck()" min="1" max="product.qty" [disabled]="!editMode" value="this.editQty" placeholder="ilość" class="col-8 qty-input" />
                    <button class="col-2 btn  btn-lg prod-button default" (click)="incrementProductQty()" id="right-inc" [disabled]="(this.editQty >= 99999) || !editMode">+</button>
                  </div>
              </div>
            </div>
        </div>
        <div class="row info-line">
            <div class="col-3 text-right cell-def">Opis</div>
            <div class="col-9 text-left cell-val">
              <div class="row">
                <input type="text" [disabled]="!editMode" [(ngModel)]="editDesc" class="form-control input-lg"/>
              </div>
              </div>
        </div>
    </div>
  </div>
</div>


  <!-- <span [hidden]="editMode">{{product.id}}</span> -->





  <!-- <span [hidden]="editMode">{{product.unit_price.toFixed(2)}}</span><input type="number" [hidden]="!editMode" [(ngModel)]="editPrice"/> -->


