
.button-text {
  font-size: large;
}

.contener {
  width: 100%;
  background: #ffffffbe;
  margin: 0;
  border: solid 1px #ffc107;
}

.img_wrapper {
  width: 100%;
  height: 100%;
  min-height: 150px;
  min-width: 150px;
  /* background: black; */
}

.img-container {
  height: 100%;
}

.img_wrapper img {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.cell-def {
  border-right: solid 1px #ffc107;
  border-bottom: solid 1px #ffc107;
  font-weight: bold;
  /* padding-right: 10%; */
}

.info-line {
  margin-left: 0%;
  width: 98%;
}

.cell-val {
  border-bottom: solid 1px #ffc107;
}

.contener button {
  border-radius: 0px;
}

.buttons {
  /* position: absolute; */
  /* bottom: 0px; */
  width: 100%;
  height: 100%;
  margin-bottom: 1px;
}


input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.contener input, select {
  border: 0px;
  border-radius: 0px;
}

.default {
  /* border-color: #e7e7e7; */
  border: 0px;
  /* border-top: 1px solid #ffc107; */
  /* border-bottom: 1px solid #ffc107; */
  color: #ffc107;
  font-size: 1.3em;
  background: white;
  height: 20%;
}

.default:hover {
  background: #ffc107;
  color: #eee;
}

.qty-input {
  text-align: center;
  /* border-left: solid 1px #ffc107; */
  /* border-right: solid 1px #ffc107; */
}

#left-inc {
  border-right: 1px solid #ffc107;
}

#right-inc {
  border-left: 1px solid #ffc107;
}

input[type="text"][disabled] {
  background: white;
}

select[disabled] {
  background: white;
}

input[type="number"][disabled] {
  background: white;
}