

.jumbotron-fluid{
  min-height: 100vh;
  background: none;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-width: 500px;
}

.product {
  min-height: 50vh;
  height: auto;
  margin: 0;
}

.category-menu {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.14), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  margin-top: 20px;
}

.category-list {
  background: rgba(255, 255, 255, 0.705);
  border-bottom: solid 2px #ffc107;
  font-weight: bold;
  color: darkslategray;
  text-transform: uppercase;
  text-align: center;
  transition-duration: 0.3s;
}

.category-list:hover {
  background: rgb(255, 201, 85);;
  cursor: pointer;
  /* border-bottom: solid 10px #ffc107; */
}


.category-list-selected {
  background: #ffc107;
  color: white;
}

.searchProducts {
  width: 100%;
}

.categories-menu {
  background: none;
  border-bottom: solid 1px #ffc107;
}



.has-search .form-control {
  margin-right: 4rem;
}

.has-search .form-control-feedback {
  position: absolute;
  right: 2rem;
  z-index: 2;
  display: block;
  width: 4rem;
  height: 4rem;
  line-height: 4.5rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.products-on-page {
}
.products-on-page select{
  border-radius: 7px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  /* font-size: larger; */
}
.products-on-page-title, .price-range-title, .price-range-title-br{
  border: solid 1px #ccc;
  border-radius: 7px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-top: 0.8%;
  text-align: center;
  border-right: 0px;
  font-size: smaller;
  min-width: 100px;
  background: #FFFFFF;
  font-weight: bold;
}

.price-range-title-br {
  min-width: 50px;
  border-left: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-size: smaller;
  padding-top: 0.5%;
}

#min_price {
  border-right: 0px;
  border-radius: 0;
  font-size:100%;
  text-align: right;
  max-width: 100px;
}

#max_price {
  border-left: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-size:100%;
  max-width: 100px;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.filter-menu {
  /* background: black; */
  min-height: 100px;
  margin-top: -2%;
  margin-bottom: 2%;
  /* border: solid 1px #ffc107; */
  /* box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08), 0 6px 10px 0 rgba(0, 0, 0, 0.10); */
}

@media screen and ( max-height: 900px )
{
 .product{
      min-height: 500px;
      height: auto;
  }

  /* .buttons {
      left: 2.3%;
      margin-left: 1%;
      width: 95%;
  } */
}

@media screen and ( max-height: 767px )
{
  .filter-menu {
    margin: 2.5%;
    width: 95%;
  }

  #min_price {
    min-width: 80px;
  }

  #max_price {
    min-width: 80px;
  }

}


@media screen and ( max-height: 959px )
{
  #min_price {
    min-width: 90px;
  }

  #max_price {
    min-width: 90px;
  }
}


/* @media screen and ( max-height: 767px )
{
  .filter-menu {
    margin: 2.5%;
    width: 95%;
  }
}

@media screen and ( max-height: 1199px )
{
  .filter-menu {
    margin: 1.5%;
    width: 97%;
  }
} */
