.jumbotron-fluid{
    min-height: 100vh;
    height: auto;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background: none;
}

.has-search .form-control {
    margin-right: 4rem;
}

.has-search .form-control-feedback {
    position: absolute;
    right: 2rem;
    z-index: 2;
    display: block;
    width: 4rem;
    height: 4rem;
    line-height: 4.5rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.order-contener {
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.14), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  border: solid 1px #ffc107;
  margin: 2%;
}

.order-elem {
  border-right: solid 1px #ffc107;
  margin: 0px;
}

.ord-col-header {
  font-weight: bold;
  border-bottom: solid 1px #ffc107;
}
