<app-main-menu></app-main-menu>
<div class="jumbotron jumbotron-fluid">
  <div class="row justify-content-center">
    <div class ="col-sm-12 col-lg-10 col-xl-9">
    <ng-container class="row">
      <ng-container *ngIf="showDetails; else showList">
         <app-order (editFinished)="hideDetails($event)" [order]="orders[currentDetail]"></app-order>
         <br />
         <div class="col-12">
           <div class="row justify-content-center">
              <button type="button" class="btn btn-lg btn-primary col-4 align-self-center" (click)="backToList()">Powrót do listy</button>
           </div>
         </div>

      </ng-container>
      <ng-template #showList>
        <div class="row">
          <div class="form-group col-6">
            <select class="col-12 col-md-8 col-xl-6 form-control input-lg" [(ngModel)]="filterStatus" name="product_category" id="filterStatus">
                <option *ngFor="let status of possibleStatuses" [value]="status">{{status}}</option>
            </select>
          </div>
          <div class="form-group has-search col-6">
              <span class="fa fa-search form-control-feedback"></span>
              <input type="text" [(ngModel)]="filterClient" class="form-control input-lg" name="filter_products" id="filterClient" placeholder="Klient">
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <ng-container *ngIf="orders && orders.length > 0; else noOrders">
              <div *ngIf="(orders | callbackOrderStatusFilter : filterStatus : filterProductByOrderStatus |
                callbackOrderClientFilter : filterClient : filterClientByName |
                paginate: { itemsPerPage: pageQty, currentPage: p_o }).length === 0">
                  <div class="col-12">Brak dopasowań</div>
              </div>

                <div *ngFor="let order of orders |
                callbackOrderStatusFilter : filterStatus : filterProductByOrderStatus |
                callbackOrderClientFilter : filterClient : filterClientByName |
                paginate: { itemsPerPage: pageQty, currentPage: p_o }; let ind = index"
                class="row order-contener">
                  <div class="col-12 col-sm-6 col-md-3 order-elem">
                    <div class="col-12 ord-col-header"><b>Odbiorca:</b></div>
                    <div class="col-12">{{order.client_name}}</div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-3 order-elem ">
                    <div class="col-12 ord-col-header"><b>Adres:</b></div>
                    <div class="col-12">{{order.client_address}}</div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-2 order-elem">
                    <div class="col-12 ord-col-header"><b>Kwota:</b></div>
                    <div class="col-12">{{order.order_value.toFixed(2)}} zł</div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-2 order-elem">
                    <div class="col-12 ord-col-header"><b>Status:</b></div>
                    <div class="col-12">{{order.status}}</div>
                  </div>

                  <div class="col-12 col-sm-12 col-md-2 align-self-center">
                    <div class="row justify-content-around">
                      <button type="button" class="btn btn-lg btn-warning" (click)="details(ind)">Szczegóły</button>
                    </div>

                  </div>
                </div>
                <ng-container *ngIf="orders && orders.length > pageChange">
                  <pagination-controls class="col-12"  (pageChange)="p_o = $event"></pagination-controls>
                </ng-container>
            </ng-container>
          </div>
        </div>
        <br/>
          <ng-template #noOrders>
              <h3 class="mb-4 display-4 text-start">Brak dostępnych zamówień!</h3>
          </ng-template>
      </ng-template>
    </ng-container>
    </div>
  </div>
</div>
