.product-image-wrapper {
  width: 95%;
  height: 100%;
  margin: 2.5%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border: #777 solid 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.14), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.product-overlay:hover {
  opacity: 1;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.25), 0 8px 22px 0 rgba(0, 0, 0, 0.25);
}

.product_image {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.product-image-wrapper .title {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 20%;
  color: #333;
  background: whitesmoke;
  font-weight: 400;
  margin: 0;
  vertical-align: middle;
}

.product-desc-wrapper {
  width: 95%;
  height: 100%;
  margin: 2.5%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.product-desc-wrapper .product_footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.product-desc-wrapper .product_footer .row {
  width: 100%;
  margin-left: 0%;
}

.product-image-wrapper .title p {
  position: relative;
  top: 45%;
  transform: translateY(-45%);
}


.product-overlay {
  background: rgba(245, 245, 245, 0.89);
  width: 95%;
  height: 100%;
  margin: 2.5%;
  opacity: 0;
  transition: .5s ease;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  color: #333;
  border: #ffc107  solid 1px;
}

.product-overlay-most-expensive {
  /* border: green  solid 3px; */
}

.product-overlay-cheapest {
  /* border: red  solid 3px; */
}

.product-overlay h3 {
  margin-top: 8%;
  padding: 0 4%;
}

.product-overlay p {
  padding: 0 4%;
}

.product-overlay .product-avaiable-enough {
  font-weight: bold;
  color: darkgreen;
}

.product-overlay .product-not-avaiable {
  font-weight: bold;
  color: red;
}

.product-overlay .product-avaiable-lest-pieces {
  font-weight: bold;
  color: orangered;
}

/* .buttons {
  position: absolute;
  bottom: 5%;
  left: 5.3%;
  width: 97.5%;
  background: whitesmoke;
} */

.prod-button{
  border-radius: 0px;
  margin: 0px;
}

.add-to-cart-button {
  border-radius: 0px;
  margin: 0px;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: x-large;
}

.cart-icon {
  padding-left: 5%;
  font-size: 1.55em;
  /* border-right: 1px solid black; */
}

.prod-button-remove {
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 0px;
}

/* Gray */
.default {
  /* border-color: #e7e7e7; */
  border: 0px;
  border-top: 1px solid #ffc107;
  border-bottom: 1px solid #ffc107;
  color: #ffc107;
  font-size: 1.3em;
  background: white;
  height: 20%;
}

.default:hover {
  background: #ffc107;
  color: #eee;
}

.qty-input {
  text-align: center;
  border: 1px solid #ffc107;
  font-size: x-large;
}

.product-details h3 {
  padding-left: 10%;
}

.desc-title {
  font-size: smaller;
  padding-left: 10%;
}

.product-overlay .description {
  text-align: justify;
  padding-left: 10%;
  font-size: 1.2em;
}

.product-overlay .qty {
  padding-left: 7.5%;
  text-align: left;
  padding-top: 1%;
  padding-bottom: 2%;
}

.product-overlay .price {
  padding-left: 7.5%;
  text-align: left;
}

