<div class="product-image-wrapper">
  <img [src]="product.url" alt="zdjecie" class="product_image">
  <div class="h3 align-middle text-center title"><p>{{product.name}}</p></div>
</div>
<div [ngClass]="{'product-overlay': product, 'product-overlay-cheapest': product.unit_price==min_price, 'product-overlay-most-expensive': product.unit_price==max_price}"
class="product-desc-wrapper">
  <div class="row product-details">
    <h3 class="mb-4 display-4 text-start col-12">{{product.name | uppercase}}</h3>
    <span class="col-12 desc-title">Opis produktu:</span>
    <div class="description h4">{{product.description}}</div>


  </div>
  <div class="product_footer">
      <!-- <button type="button" class="btn btn-primary btn-lg btn-danger prod-button" [disabled]="product.qty < 1" (click)="takeUnit(product, -1)"><span class="glyphicon glyphicon-minus"></span> </button> -->
      <!-- <button type="button" class="btn btn-primary btn-lg prod-button" (click)="addToCart(product)"><span class="glyphicon glyphicon-plus"></span> </button> -->
      <div class="row">
        <span class="col-12 price h4 align-items-end"><b>Cena:</b> {{product.unit_price}} PLN</span>
          <span class="col-12 qty h4 align-items-end">
            <b>Dostępność: </b>
            <ng-container *ngIf="product.qty === 1; else elseif05"><span class="product-avaiable-lest-pieces">ostatnia sztuka</span></ng-container>
            <ng-template #elseif05>
                <ng-container *ngIf="(product.qty <= 3 && product.qty > 0); else elseif1"><span class="product-avaiable-lest-pieces">ostatnie {{product.qty}} sztuki</span></ng-container>
            </ng-template>
            <ng-template #elseif1>
                <ng-container *ngIf="product.qty < 1; else elseif2"><span class="product-not-avaiable">brak</span></ng-container>
            </ng-template>
            <ng-template #elseif2>
                <span class="product-avaiable-enough">{{product.qty}} sztuk</span>
            </ng-template>
          </span>
      </div>
      <div class="row">
        <button type="buton" class="col-2 btn  btn-lg prod-button default" (click)="decrementOrderQty()" [disabled]="order_qty < 2">–</button>
        <input type="number" [(ngModel)]="order_qty" (keyup)="boundaryCheck()" min="1" max="product.qty" value="1" placeholder="ilość" class="col-8 qty-input" />
        <button class="col-2 btn  btn-lg prod-button default" (click)="incrementOrderQty()" [disabled]="order_qty >= product.qty">+</button>
      </div>

      <button type="button" class="col-12 btn btn-warning btn-lg add-to-cart-button " (click)="addToCart(product, order_qty)" [disabled]="0 == product.qty">
        <!-- <span class="glyphicon glyphicon-shopping-cart cart-icon pull-left"></span> -->
        dodaj do koszyka

      </button>
  </div>
  <!-- <button type="button" class="btn btn-primary btn-lg btn-danger prod-button-remove" (click)="removeProduct(product)"><span class="glyphicon glyphicon-remove"></span> </button> -->
</div>
