<app-main-menu></app-main-menu>
<div class="jumbotron jumbotron-fluid">
    <div class="row justify-content-center">
    <div class ="col-sm-12 col-lg-10 justify-content-center">




        <ng-container *ngIf="products && products.length > 0">
            <div class="">
                <div class="row justify-content-left filter-menu">
                  <div class="col-12 col-lg-9 col-xl-8 justify-content-left">
                    <div class="row justify-content-left">
                        <div class="col-12 col-md-5 col-lg-5 col-xl-6 pull-left">
                          <div class="row products-on-page pull-left">
                            <div class="col-6 col-md-8 col-lg-8 col-xl-8 products-on-page-title">Na stronie: </div>
                            <select class="form-control input-lg col-6 col-md-4 col-lg-4 col-xl-4" (change)="onChange($event.target.value)">
                              <option *ngFor="let qty of displayProductsQty" [value]="qty">{{qty}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group col-12 col-md-7 col-lg-7 col-xl">
                          <div class="row pull-right">
                            <!-- <label for="min_price" class="col-12" >cena (zł)</label> -->
                            <div class="cols-2 price-range-title">Cena: </div>
                            <input type="number" id="min_price" class="form-control input-lg col-3 col-lg-2 col-xl-3" placeholder="{{min_price}}" [(ngModel)]="filterMinPrice">
                            <!-- <div class="cols-2 price-range-title">DO</div>  &#8212;-->
                            <div class="cols-2 price-range-title-br"> &#8212;</div>
                            <input type="number" id="max_price" class="form-control input-lg col-3 col-lg-2 col-xl-3" placeholder="{{max_price}}" [(ngModel)]="filterMaxPrice">
                          </div>
                        </div>

                        <!-- <div class="col-xl-1"></div> -->
                    </div>
                  </div>
                  <!-- <div class="col-xl-2"></div> -->
                  <div class="form-group has-search col-12 col-lg-3 col-xl-4">
                      <span class="fa fa-search form-control-feedback"></span>
                      <input type="text" [(ngModel)]="searchField" class="form-control input-lg" name="search_products" id="searchProducts" placeholder="Szukaj">
                  </div>
                </div>

                <div class="row justify-content-center">
                  <ul class="col-12 col-lg-10 col-xl-8 list-inline category-menu">
                    <div class="row">
                      <li *ngFor="let category of categories" (click)="categoryClicked(category);"
                      [ngClass]="{'category-list-selected': selectedCategories.includes(category)}" class="category-list col-12 col-sm-3" >{{category}}</li>
                    </div>
                  </ul>

                </div>



              </div>
        </ng-container>


        <ng-container *ngIf="products && products.length > 0; else noProducts">
          
          <div class="row justify-content-center">
            <div *ngIf="(products | callback : searchField : filterProductByName |
            callbackCategoryFilter : selectedCategories : filterProductByCategory |
            callbackPriceFilter : filterMinPrice : filterMaxPrice : filterProductByPrice).length === 0">
                <h2 class="text-center pull-center" >Brak dopasowań</h2>
            </div>

            <ul class="col-12 col-lg-10 col-xl-8 text-center product_list">
              <li class="product mb-5" *ngFor="let item of products |
                callback : searchField : filterProductByName |
                callbackCategoryFilter : selectedCategories : filterProductByCategory |
                callbackPriceFilter : filterMinPrice : filterMaxPrice : filterProductByPrice |
                paginate: { itemsPerPage: pageQty, currentPage: p }">
                <app-edit-product [product]="item" [min_price]="min_price" [max_price]="max_price" (product_remove)="removeProduct($event)"></app-edit-product>
              </li>
            </ul>
            <ng-container *ngIf="products && products.length > pageChange">
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </ng-container>
          </div>
        </ng-container>

        <ng-template #noProducts>
            <h3 class="mb-4 display-4 text-start">Brak dostepnych produktów</h3>
        </ng-template>
        <br /><br /><br /><br />
      </div>
      <div class="row">
        <app-add-product (product_add)="addProduct($event)"></app-add-product>
      </div>

  </div>
