.app-login-box {
  margin: 1%;
}

.app-login-box input {
  border-left: solid 5px #ffc107;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition: 0.3s; /* Safari */
  transition: 0.3s;
}

.app-login-box input:focus {
  background: #ffffcc;
}

.app-login-box button {
  font-size: 1.5em;
  color: white;
  margin: auto;
}

.app-login-box h1 {
  font-size: 4em;
  color: #ffc107;
  font-weight: 800;
  /* border-bottom: solid 10px white; */
  padding: 10px;
  text-shadow: 0 0 5px black;
}

.title_line {
  width: 40%;
  margin-top: 7%;
  margin-bottom: 1%;
  height: 5px;
  border: 0;
  border-top: 3px solid #ffc107;

  /* border: 0;
  background-image: -webkit-linear-gradient(left, #f0f0f000, #8c8b8b, #f0f0f000);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background: linear-gradient(to right, #f0f0f0, #ffc107, #f0f0f0);
  height: 1px; */
}
