<app-main-menu></app-main-menu>
<div class="row justify-content-center app-login-box ">
  <div class="col-12 col-sm-8 col-md-6 col-xl-4">
    <h1 class="text-center">Rejestracja</h1>
    <hr class="title_line">
    <div class="row">
      <div class="form-group col-12">
        <label for="registerEmail"><h3>Email:</h3> </label>
        <input type="email" [(ngModel)]="registerMail" placeholder="jan.kowalski@domena.com" id="registerEmail" class="form-control input-lg col-12">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12">
          <label for="registerPasswd"><h3>Hasło:</h3> </label>
          <input type="password" [(ngModel)]="registerPassword" placeholder="admin123" id="registerPasswd" class="form-control input-lg col-12">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12 col-md-12 col-lg-6">
          <label for="registerName"><h3>Imie:</h3> </label>
          <input type="text" [(ngModel)]="registerName" placeholder="Jan" id="registerName" class="form-control input-lg col-12">
      </div>
      <div class="form-group col-12 col-md-12 col-lg-6">
          <label for="registerSurname"><h3>Nazwisko:</h3> </label>
          <input type="text" [(ngModel)]="registerSurname" placeholder="Kowalski" id="registerSurname" class="form-control input-lg col-12">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12">
          <label for="registerAdrress"><h3>Adres:</h3> </label>
          <input type="text" [(ngModel)]="registerAddress" placeholder="Krakw, ul. Pawia 16/4" id="registerAdrress" class="form-control input-lg col-12">
      </div>
    </div>
    <br/><br/>
    <div class="form-group row justify-content-center">
      <button type="button" (click)="registerUser()" [disabled]="
      registerPassword.length === 0 ||
      registerMail.length === 0 ||
      registerName.length === 0 ||
      registerSurname.length === 0 ||
      registerAddress.length === 0"
       class="btn btn-lg btn-warning col-8 col-sm-6 pull-center">Zarejestruj</button>
    </div>


  </div>
</div>

